https://EXAMPLE.com {
    root /opt/gistpb/web
    tls YOUR@MAIL.COM
    minify
    cors
    timeouts none
    log stdout
    errors stdout
    index index.php
    rewrite {
	    regexp (.*)
	    ext /
	    to /index.php{path}
    }
    fastcgi / 127.0.0.1:9000 php {
        ext   .php
        split .php
        index index.php
    }
}
