127.0.0.1:80 {
    root /opt/gistpb/web
    #tls i@kmahyyg.xyz
    tls off
    gzip
    minify
    cors
    timeouts none
    
    fastcgi / 127.0.0.1:9000 php {
        ext   .php
        split .php
        index index.php
    }
}
